<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>waffle</title>
    <link rel="stylesheet" href="../static/landing_page/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <section id="contant">
      <div class="container box">
        <div class="row">
          <div  class="col-lg-6 col-md-6 col-12">
            <img src="../static/landing_page/images/cont.png.jpeg" class="img-fluid">
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <h1>CONTACT US</h1>
            <form>
              <input type="text" class="form-control" placeholder="enter your name">
              <input type="email" class="form-control" placeholder="enter your email">
              <textarea class="form-control" placeholder="enter your message"></textarea>
              <button class="btn signin">send message</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>  
</body>
</html>